<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garama Prenotazioni</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/logo.jpg">
</head>
<body>
    <div class="cont">
        <img id="logo" src="/img/shaw.jpeg" alt="Logo">
        <h1><%=locals.error%></h1>
    </div>
</body>
</html>