<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garama Prenotazioni</title>
    <link rel="stylesheet" href="/css/index.css">
        <link rel="icon" href="/img/logo.jpg">
</head>
<body>
    <img id="backg" src="/img/shaw.jpeg" alt="Background">
    <div class="nav">
        <div class="block">
            <img src="/img/logo.jpg" alt="Logo" width="50" height="50" onclick="location.href='/'">
        </div>
        <% if(!locals.logged){%>
            <a href="/login">Login\Register</a>
        <%}else{%>
            <a href="/dash">Logged - <%=locals.logged%></a>
        <%}%>
    </div>
    <div class="cont">
        <h1>Benvenuto in Garama Prenotazioni</h1>
        <p style="text-align: center;">Il miglior sito per le tue prenotazioni<br><bold>Hornet approva !</bold></p>
        <div class="links">
            <% locals.luoghi.forEach(element => {%>
                <div class="posto" onclick="location.href = '/meta/<%=element.id%>'">
                    <div class="l">
                        <img src="./img/<%=element.foto_url %>" alt="Icon" width="50" height="50">
                    </div>
                    <div class="k">
                        <h3><%= element.nome %></h3>
                    </div>
                </div>
            <%}); %>
        </div>
    </div>
    <div class="down">
        <h5>Shaw - Copyright° Hornet 2025</h5>
    </div>
</body>
</html>